<div class="row-fluid details about container">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img class="about-icon" src="imgs/cookiemonster.jpg" width="40%">
        <h4>Welcome to the Cookie Jar : The M.E.B.N Stack.</h4>
        <p>Borrowed heavily and expanding on ccoernaets lovely <a href="https://github.com/ccoenraets/nodecellar" target="_blank">wine app</a>,
        <br>this is a sample template / starting point for a MEBN stacked project.</p>
        <p>Application built with MongoDB, Express, Backbone.js, Node.js</p>
        <p>Features now include:
          <ul>
            <li>Modular structure</li>
            <li>Automated compiling with GULP, COMPASS, SCSS</li>
          </ul>
        </p>
        <h3>ENJOY THE COOOOOOOKIES!</h3>
    </div>
</div>
