
<div class="container">

	<div class="white-wrapper clearfix">
	    <div class="container">
	        <h1 class="site-title">BIO</h1>
	        <p class="site-desc">DBP is founded by <a href="https://www.linkedin.com/profile/view?id=31263587" target="_blank">Josh Freeman</a></p>
	    </div>
	</div>

	 <div class="page-wrapper clearfix">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-xs-12">
											<img src="imgs/me.jpg" style="width:100%" />
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="details">
                            <p class="lead">Creatively driven interactive experiences.<p>
                            <p>A diverse skill set allows the creation of a vast range of digital media and applications that are aesthetically pleasing along with being functional and animated. Experimenting in pushing technology and incorporating cutting edge sensory devices on client work along with prototyping concepts. </p>

                            <p>Currently focussing on the modern web technologies, with a keen interest towards javascript frameworks, WebGL, and the next generation motion sense controllers.</p>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <h1 class="site-title">SERVICE</h1>
                        <p class="site-desc">specialising in developing creative tech </p>
                        <p>

												Javascript OOP,<br>
												Augmented Reality,
												Virtual Reality,<br/>
												Interactive touch screens,
												Digial Installations,<br>
												Cross platform mobile apps,<br/>
												Real-time interactions with WebSockets,<br/>
                        Development in frameworks Angular + Backbone,<br/>
                        HTML5 / Canvas,
                        CSS3,
                        ThreeJS,
                        Pixi.JS,<br/>
                        OculusRift VR,
                        LEAPJS,<br/>
												DoubleClick Ad media platform,<br/>
                        UNITY 3D, <br>Flash, After Effects, <br>Photoshop</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="details">
                            <h1 class="site-title">EXPERIENCE</h1>
                    <p class="site-desc">10+ years in digtial creative development</p>
                    <p>Working across the entire digital spectrum, with experience developing projects including
real-time applications, mobile/tablet games, responsive mobile sites, rich media campaigns,
Augmented Reality applications, VR experiences, and interactive installations. Working with some of the largest global brands.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</div>
