
<!-- Navigation -->
<header class="header">
    <div class="container">
        <div class="navitem" data-name="home">HOME</div>
        <div class="navitem" data-name="browse">BROWSE</div>
        <div class="navitem" data-name="add">ADD +</div>
        <div class="navitem" data-name="info">INFO</div>
    </div>
</header>

<!-- SECTION CONTENT CONTAINER -->
<div id="inner">
	<div id="viewport"></div>
</div>


<!-- Footer + Social -->
<div class="copyrights">
	<div class="container">
	  <div class="row">
	      <div class="col-lg-12 col-md-12 col-sm-12">

          LEGALS

	      </div>
	  </div>
	</div>
</div>
